<!doctype html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<head>
    <style>
        .error {
            color: orange;
            font-size: 15px;
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Update Member</title>
</head>
<body>
<div layout:fragment="content">


    <div class="wrapper">
        <div>
            <div id="alert"></div>

            <form method="POST" id="demoForm" th:object="${member}" onsubmit="onSubmit(event)">

                <div class="form-group">
                    <label> ID &emsp; &emsp; </label>
                    <input readonly type="text" th:value="${memberId}" class="form-control">
                </div>

                <div class="form-group">
                    <label>Họ tên &emsp; &emsp; </label>
                    <input id="name1" type="text" th:field="*{name}" class="form-control"
                           placeholder="name" required name="name" th:value="${member.name}">
                </div>

                <div class="form-group">
                    <label>Chuyên Ngành &emsp; &emsp; &emsp;</label>
                    <input id="major1" type="text" th:field="*{major}" class="form-control" placeholder="major"
                           name="major" required th:value="${member.major}">
                </div>

                <div class="form-group">
                    <label>Mail</label>
                    <input id="mail1" type="email" th:field="*{mail}" class="form-control"
                           placeholder="mail" name="mail" required th:value="${member.mail}">
                </div>

                <div class="form-group">
                    <label>Mật khẩu</label>
                    <input id="password" type="password" th:field="*{password}" class="form-control"
                           placeholder="password" name="password" required th:value="${member.password}">
                </div>

                <div class="form-group">
                    <label>Nhập lại mật khẩu</label>
                    <input id="rePassword" type="password" th:field="*{rePassword}" class="form-control"
                           placeholder="password" name="rePassword" required th:value="${member.rePassword}">
                </div>

                <div class="form-group">
                    <label>Ngày hết hạn</label>
                    <input id="expired1" type="date" th:field="*{expired}" class="form-control"
                           placeholder="expired" name="expired" required th:value="${member.expired}">
                </div>

                <div class="form-group">
                    <label>Sinh nhật</label>
                    <input id="birthday1" type="date" th:field="*{birthday}" class="form-control"
                           placeholder="birthday" name="birthday" required th:value="${member.birthday}">
                </div>

                <div class="form-group">
                    <label>file</label>
                    <input id="file1" type="file" class="form-control"
                           placeholder="birthday" name="file" required>
                </div>


                <div class="card-footer">
                    <button type="submit" class="btn btn-primary" id="btn-submit" disabled>Submit</button>
                </div>
            </form>

        </div>

    </div>

    <script th:inline="javascript">

        $(document).ready(function () {
            $.validator.addMethod('EqualTo', function (value, element, param) {
                let str1 = value || '';
                let str2 = $(param).val() || '';
                return $.trim(str1) == $.trim(str2);
            }, 'Hai mật khẩu không giống nhau');

            $.validator.addMethod('validatePassword', function (value, element) {
                return this.optional(element) || /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{12,}$/i.test(value);
            }, 'Hãy nhập password ít nhất 12 ký tự bao gồm chữ hoa, chữ thường, ít nhất một chữ số, kí hiệu đặc biệt và không khoảng trắng');

            $("#demoForm").validate({
                onfocusout: false,
                onkeyup: false,
                onclick: false,
                rules: {
                    "name": {
                        required: true,
                        maxlength: 15
                    },
                    "password": {
                        required: true,
                        validatePassword: true,
                    },
                    "rePassword": {
                        required: true,
                        EqualTo: "#password",
                    },
                    "major": {
                        required: true,
                        minlength: 5
                    },
                    "mail": {
                        required: true,
                    },
                    "expired": {
                        required: true,
                    },
                    "birthday": {
                        required: true,
                    },
                    "file": {
                        required: true,
                    },
                },
                messages: {
                    "name": {
                        required: "Bắt buộc nhập tên",
                        maxlength: "Hãy nhập tối đa 15 ký tự"
                    },
                    "password": {
                        required: "Bắt buộc nhập mật khẩu",
                    },
                    "rePassword": {
                        required: "Vui lòng nhập lại mật khẩu",
                        EqualTo: "Hai password phải giống nhau",
                    },
                    "major": {
                        required: "bắt buộc nhập chuyên ngành",
                        minlength: "hãy nhập ít nhất 5 kí tự"
                    },
                    "mail": {
                        required: "Bắt buộc nhập mail",
                    },
                    "expired": {
                        required: "bắt buộc nhập ngày"
                    },
                    "birthday": {
                        required: "bắt buộc nhập ngày"
                    },
                    "file": {
                        required: "chọn 1 ảnh",
                    },
                }
            });
        });

        $('input').on('keyup focusout blur', function () {
            if ($("#demoForm").valid()) {
                $("#btn-submit").attr("disabled", false)
            } else {
                $("#btn-submit").attr("disabled", "disabled")
            }
        });

        let id = [[${memberId}]]
        console.log(id);

        let onSubmit = (event) => {
            event.preventDefault();
            if ($("#demoForm").valid()) {
                let formData = new FormData();
                var file = $('#file1')[0].files;
                formData.append("name", $("#name1").val());
                formData.append("password", $("#password").val());
                formData.append("rePassword", $("#rePassword").val());
                formData.append("mail", $("#mail1").val());
                formData.append("major", $("#major1").val());
                formData.append("expired", $("#expired1").val());
                formData.append("birthday", $("#birthday1").val());
                formData.append("file", file[0]);
                console.log("name la" + formData.getAll("name"))
                handleSubmit(formData);
            }
        }

        function handleSubmit(data) {
            $.ajax({
                url: `${baseUrl}/api/v1/member/update?id=${id}`,
                type: "POST",
                data: data,
                cache: false,
                contentType: false,
                processData: false
            }).done(function (xhr) {
                console.log(xhr);

                $("#alert").empty();
                $("#alert").append(`<div class="alert alert-success alert-dismissible " role="alert">
                               Cập nhật thành công
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            `)

                $("#name1").val("");
                $("#password").val("");
                $("#mail1").val("");
                $("#major1").val("");
                $("#rePassword").val("");
                $("#expired1").val("");
                $("#birthday1").val("");

            }).fail(function (xhr) {
                console.log(xhr);
                $("#alert").empty();
                $("#alert").append(` <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            ${xhr.responseJSON.message}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    `)
            })
        }

    </script>

</div>
</body>
</html>