<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
  <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'/>
  <style>
    body {
      font-family: 'Roboto', sans-serif;
      font-size: 48px;
    }
  </style>
</head>
<body>

<h1 > Bạn vừa cập nhật thông tin</h1>
<h2> Chúc mừng bạn đã cập nhật thành công. Thông tin chi tiết vui lòng tham khảo bên dưới.</h2>
<h3> Thông tin của bạn: </h3>

<p th:text="${'Họ tên, ' + name}"></p>
<p th:text="${'Nghề nghiệp, ' + major}"></p>
<p th:text="${'Mail, ' + mail}"></p>
<p th:text="${'Mật khẩu, ' + pwd}"></p>
<p th:text="${'Ngày sinh, ' + date}"></p>
<p th:text="${'Ngày hết hạn, ' + expired}"></p>

<h3>Đây là email tự động vui lòng không trả lời.</h3>

</body>
</html>
